html {
  height: 100%;
}
header {
  margin-top: 20%;
  text-align: center;
}
header img {
  width: 25vw;
  height: 25vw;
  margin: 0 2%;
}
main h1 {
  font-size: 25vw;
  margin-top: 0%;
  margin-bottom: 30%;
  color: #D8E5A9;
  -webkit-text-stroke-width: .1rem;
  -webkit-text-stroke-color: black;
}
main {
  align-content: center;
  text-align: center;
  vertical-align: middle;
}
header h2 {
  text-align: center;
  color: black;
  font-size: 15vw;
  margin-bottom: 30vw;
}
input {
 border-radius: 30rem;
 border-style: solid;
 border-width: .1rem;
 border-color: black;
 height: 3rem;
 width: 80vw;
 text-align: center;
 font-size: 30px;
 color: black;
 background-color: white;
 cursor: text;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:foucs:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:foucs:-ms-input-placeholder {
  color: transparent;
}
.btn {
  height: 100%;
  width: 25vw;
  border: solid .1rem;
  border-radius: .6rem;
  border-color: black;
  margin-top: 1rem;
  background-color: #D8E5A9;
  overflow: hidden;
  transition-duration: 0.1s;
  display: inline-block;
}
.btn img {
  width: 4em;
  height: 4em;
}
.human {
  margin-right: 5%;
}
.robot {
  margin-left: 5%;
}
.btn:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2C350F;
  border: solid 1px #2C350F;
  outline: none;
}
#rock, #scissors, #paper, .human, .robot {
  cursor: pointer;
}
svg {
  height: 50vw;
  width: 50vw;
}
.pie {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}
.slice1 {
  flex-basis: 30vw;
}
.slice2 {
  flex-basis: 30vw;
  margin-left: 3vw;
}
.slice3 {
  height: 46vw;
  width: 43vw;
  transform: rotate(120deg);
  align-self: flex-end;
  margin-top: -21vw;
  margin-left: -1.6vw;
}
@media (min-width: 768px) {
  header img {
    width: 12rem;
    height: 12rem;
  }
  main h1 {
    font-size: 12rem;
    margin-bottom: 20%;
    -webkit-text-stroke-width: .2rem;
  }
  header {
    margin-top: 12%;
  }
  header h2 {
    margin-bottom: 10vw;
  }
  input {
    height: 4rem;
    border-width: .2rem;
    font-size: 45px;
  }
  .btn {
    border: solid .2rem black;
  }
  .btn img {
    width: 8.5rem;
    height: 8.5rem;
  }
  .human {
    height: 8rem;
  }
  .robot {
    height: 8rem;
  }
}
@media (min-width: 1024px) {
  header {
    margin-top: 3%;
  }
  header h2 {
    font-size: 15vw;
    margin-bottom: -1%;
    margin-top: -6%;
    margin-left: 3vw;
  }
  main h1 {
    margin-bottom: 8%;
    -webkit-text-stroke-width: .1rem;
  }
  input {
    width: 40%;
    height: 3rem;
  }
  .btn {
    width: 10%;
    height: 4.5rem;
  }
  .btn img {
    width: 5rem;
    height: 5rem;
  }
  svg {
  height: 40vw;
  width: 40vw;
  }
  .slice1 {
    flex-basis: 35vw;
  }
  .slice2 {
    margin-left: -3vw;
  }
  .slice3 {
    height: 40.5vw;
    width: 40vw;
    margin-top: -16vw;
    margin-left: 1.5vw;
  }
}